name: CI Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc build-essential cmake libpaho-mqtt-dev python3-pip
        pip3 install pytest paho-mqtt

    - name: Build C Server
      run: |
        gcc server.c mqtt.c -o server -lpaho-mqtt3c -lpthread
        gcc client.c -o client
        gcc client2.c -o client2

    - name: Run Python Tests
      run: |
        pytest test_tcp.py -v

    - name: List files
      run: ls -l
